.container-body {background-color:rgb(27,27,27)}.sticker {
    width: 180px;
    height: 180px;
}

// add image
.example-1 .sticker-img {
    background-image: url(heroes-2.png);
}

// add color
.example-2 .sticker-img {
    background-color: #ff4a85;
}

// change shadow opacity
.example-2 .sticker-shadow {
    opacity: 0.6;
}